html {
  height: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  align-items: center;
  background-color: #5ab3f8;
  color: #303030;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  height: 100%;
  justify-content: center;
  text-transform: uppercase;
  margin: 0;
}

p {
  display: inline-block;
}

.container {
  background-color: white;
  border: 2px solid #f8f8f8;
  border-radius: 5px;
  padding: 2%;
  width: 45%;
}

/* Form */

.form-box {
  width: 100%;
}

.form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#tab-number-input {
  border: none;
  border-bottom: 4px solid #E8E8E8;
  color: #303030;
  font-size: 1.3rem;
  padding: 2% 2% 2% 0;
  -webkit-appearance: none;
  width: 70%;
}

#tab-number-input:focus {
  border-bottom: 4px solid #303030;
  outline: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightgray;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #E8E8E8;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #E8E8E8;
}

.btn {
  background-color: #E8E8E8;
  border: none;
  border-radius: 5px;
  color: #303030;
  font-family: 'Manrope', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  -webkit-appearance: none;
  width: 20%;
}

/* Tabs and Content Box */

.tab-box {
  margin-top: 5%;
  width: 100%;
}

.tabs {
  width: 100%;
}

.tab {
  border: 4px solid #E8E8E8;
  border-radius: 50px;
  font-weight: 600;
  margin: 0 4% 0 0;
  text-align: center;
  padding: 1%;
  width: 15%;
}

.tab-content {
  border: 4px solid #E8E8E8;
  border-radius: 5px;
  margin-top: 3%;
  padding: 2%;
}

/* Change Style Classes */

.clicked {
  border: 4px solid #303030;
  color: #303030;
}

.unclicked {
  border: 4px solid #E8E8E8;
  color: lightgray;
}
